/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: fit-content;
    background: url(./img/banner.png);
    background-size: cover;
    color: #014003;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
button {
    border:none;
    outline: none;
    background: transparent;
}
.wrapper {
    display: block;
    position: relative;
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
}
.header {
    display: flex;
    position: relative;
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    gap: 65px;
    margin-bottom: 290px;
}
.header h1 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: calc(73px + 26 * (100vw / 1720));
line-height: 115px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.header h2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
letter-spacing: 0.08em;
}
.header__nature {
    padding-top: 40px;
}
.nature__links-but {
    display: flex;
    position: relative;
    width: fit-content;
    margin-top: 40px;
    gap: 70px;
}
.nature__links {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
}
.nature__but {
    display: flex;
    position: relative;
    align-self: flex-end;
    gap: 20px;
}
.nature__but img {
    width: 100px;
}
.header__img {
    width: 37.66%;
    object-fit: cover;
}
.main {
}
.contents{
    display: flex;
    flex-direction: column;
    margin-bottom: 190px;
}
.contents h2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: calc(34px + 26 * (100vw / 1720));
line-height: 69px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.contents p {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
}
.contents button {
align-self: flex-start;
cursor: pointer;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 28px;

}
.contents button {
    display: block;
    width: 230px;
    height: 63px;
}
.first button,.third button {
    background: #014003;
    color: #FFFFFF;
    border-radius: 57.5px;
}
.second button {
    background: transparent;
    color: #FFFFFF;
    border-radius: 57.5px;
    border: 2px solid #fff;
}
.first button:hover,.third button:hover  {
    background: #ECDDB6;
    color:#000;
}
.second button:hover {
    color: #ECDDB6;
    border: 2px solid #ECDDB6;
}
.first {
    display: flex;
    position: relative;
    width: 70%;
    height: 667px;
    padding-top: 64px;
    padding-right: 55px;
    background: #FFFFFF;
    border-radius:0 100px 100px 0;
    justify-content: flex-end;
}

.first .text_block {
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: #014003;
}
.first p {
    width: 480px;
}
.first button {
    margin-top: 80px;
}
.second {
    display: flex;
    position: relative;
    padding-left: 84px;
    padding-top: 60px;
    align-self: flex-end;
    align-items: center;
    margin-top: -50px;
    width: 62.2%;
    height: 620px;
    background: #014003;
    border-radius:100px 0 0 100px;
    justify-content: flex-start;
    color: #FFFFFF;
}
.second p {
    width: 370px;
}


.third {
    display: flex;
    position: relative;
    width: 70%;
    height: 726px;
    background: #FFFCF4;
    padding-right: 55px;
    padding-top: 145px;
    border-radius:0 100px 100px 0;
    margin-top: -30px;
    justify-content: flex-end;
}
.third p {
    width: 486px;
}
.first .img_block1 {
    display: block;
    position: absolute;
    width: 39.2%;
    object-fit: cover;
    left: 0;
    transform: translateX(14.6%) translateY(-22.6%);
    top: 0;

}
.second .img_block2 {
    display: block;
    position: absolute;
    width: 57.3%;
    object-fit: cover;
    right: 0;
    transform: translateX(0) translateY(-34.1%);
    top:0;
}
.third .img_block3 {
    display: block;
    position: absolute;
    width: 45.2%;
    object-fit: cover;
    left: 0;
    transform: translateX(14.6%) translateY(-9.6%);
    top: 0;
}
.third button {
    margin-top: 50px;
}
.contents section {
    transition: all 0.3s ease;
}
.contents section:hover {
    transform: scale(1.05);
}
.text_block {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.container {
    max-width: 91.9%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.carousel {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 72px;
    height: fit-content;
    padding: 80px 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 130px;
}

.carousel h1 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;
text-align: center;
letter-spacing: 0.08em;
color: #014003;
}
/* .carousel .container::before {
    content: '';
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: url(./img/arrow.png);
    width: 25px;
    height: 50px;
    background-size: cover;
    left:-3.33%;
}
.carousel .container::after {
    content: '';
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%) scaleX(-1);
    background: url(./img/arrow.png);
    width: 25px;
    height: 50px;
    background-size: cover;
    right:-3.33%;
} */

.slick-next .slick-arrow {

}
.slick-prev, .slick-next {
    width: 25px;
    height: 50px;
}
.slick-prev {
    left:-3.33%;
}
.slick-next {
    right:-3.33%;
}
.slick-next:before {
    display: block;
    width: 25px;
    height: 50px;
    content: '';
    background: url(./img/arrow.png);
    transform: scaleX(-1);
    background-size: cover;
    color:#014003;
    font-size: 50px;
}
.slick-prev:before {
    width: 25px;
    height: 50px;
    display: block;
    content: '';
    background: url(./img/arrow.png);
    background-size: cover;
    color:#014003;
    font-size: 50px;
}
.feedback {
    display: block;
    width: 100%;
}
.slide img {
    width: 47%;
    object-fit: cover;
}
.slide {
    display: flex !important;
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}


.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: white;
    border: 2px solid #C2D1D9;
}
.footer__top .container {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    position: relative;
    width: fit-content;
    gap: 135px;
}
.menu a {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 24.2389px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}
.icons {
    display: flex;
    position: relative;
    width: fit-content;
    gap: 45px;
    height: fit-content;
}
.footer__line {
    width: 100%;
    height: 2px;
    background: #C2D1D9;
}
.footer__bottom .container {
    display: flex;
    height: 75px;
    align-items: center;
}
.copyr {
    display: flex;
    position: relative;
    width: fit-content;
    gap: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17.0625px;
    line-height: 26px;
    color: #505D68;
}


@media (max-width:651px) {
    body {
        background: url(./img/banner.png);
        background-size: cover;
        background-position: center;
    }
    .wrapper {
        padding-top: 0px;
    }
    .header {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        align-items: center;
        margin: 0 auto;
        gap: 0;
        margin-bottom: 40px;
        padding-top: 35px;
    }
    .header__nature {
        padding-top: 0;
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .header h1 {
    font-size: calc(63px + 26 * (100vw / 1720));
    line-height: 1em;
    }
    .header h2 {
    font-size: calc(14px + 26 * (100vw / 1720));
    line-height: 35px;
    }
    .nature__links-but {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        margin-top: 25px;
        gap: 20px;
    }
    .nature__but {
        align-self: center;
    }
    .nature__links {
        gap: 15px;
    }
    .header__img {
        width:40%;
        order: -1;
    }
    .contents {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        gap: 30px;
    }
    .first,.second,.third {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        margin: 0 auto;
        height: fit-content;
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 30px;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
    }
    .first .img_block1,.second .img_block2,.third .img_block3 {
        display: block;
        position: relative;
        width: 80%;
        margin: 0 auto;
        object-fit: cover;
        left: 0;
        transform: translateX(0) translateY(0);
        top: 0;
    }
    .first .text_block,.second .text_block,.third .text_block {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first p, .second p, .third p {
        width: 80%;
        margin: 0 auto;
    }
    .contents button {
        align-self: center;
    }
    .first button,.second button,.third button {
        margin-top: 25px;
    }
    .feedback {
        display: block;
        width: 100%;
    }
    .slide {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        justify-content: space-between;
    }
    .carousel .container {
        width: 85%;
    }

    .feedbacks h1 {
        font-size: calc(34px + 26 * (100vw / 1720));
        line-height: 48px;
    }
    .slick-list .draggable {
        height: 359px;
    }
    .slide img {
        width: 100%;
        object-fit: cover;
    }
    .slick-prev {
        left:-7.33%;
    }
    .slick-next {
        right:-7.33%;
    }
    .footer__top .container {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        height: fit-content;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        gap: 20px;
    }
    .menu a {
        font-size: 23.2389px;
        line-height: 28px;
        text-align: center;
    }
    .icons {
        display: flex;
        position: relative;
        width: fit-content;
        gap: 20px;
        height: fit-content;
    }
    .icons img {
        width: 40px;
    }
}
